.GraphInformation {
    position: absolute;
    margin: 2rem;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: cornflowerblue;
    padding: 1rem;
    z-index: 8;
}