.Sidebar
{
    height: 100%;
    width: 15rem;
    padding: 1%;
    background-color:lightgray;
    border-right-color: black;
    border-right: 1px;
    border-right-style: solid;
    flex-shrink: 0;
    z-index: 10;
}

.Sidebar-ColorPicker
{
    width:"300%";
    margin-top:"15px";
    padding-top:"15px";
    margin-left:"auto";
    margin-right:"auto";
    height:"90%";
}