.Vertex {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    width: 1rem;
    height: 1rem;
    background: black;
    border-radius: 1rem;
    z-index: 1;
}

.Vertex.container {
    position: fixed;
}

.Vertex-Selected {
    border-width: 0.2rem;
    border-style: solid;
    border-color: dodgerblue;
}